@charset " UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
  @font-face {
    font-family: 'Gyosho';
    src: url(../fontes/Gyosho.ttf)
    format('trutype');
    font-weight: normal;
    font-style: normal;
  }

:root{
    --fonte-altenativo: Arial, Helvetica, sans-serif;
    --fonte-texto: 'Borel', cursive;
  
    --fonte-destaque:'Gyosho';
  

}
*{
    padding: 0px;
    margin: 0px;
}

html body{
    min-height: 100vh;
    background: lightgray;
   

}
header{
    position: fixed;
    width: 100%;
   
    color: white;
    text-align: center;
    background: transparent;
}
footer{
    background: black;
color: white;
    text-align: center;
}
header > h1{
   
    font-variant:small-caps; /* maiusculas com destaque as primeiras letras */
    /* text-transform:uppercase ;  (letras maiusculas */
   font-family:'Gyosho';
   font-size: 3em;
   color: #F87B1F;
   margin-top: 50px;

}
nav > ul{
    display: flex;
    justify-content:space-evenly;
    
   
    
   
}
nav > ul >li {
    padding: 10px;
    text-decoration: none;
    background-color: burlywood;

   margin: auto;
    width: 90%;
    border-radius: 0px 30px;
    border: 1px solid rgba(0, 0, 0, 0.322);
}
nav > ul >li:hover{
    cursor: pointer;
    background-color: #F87B1F;
    color: whitesmoke;
}
header > p {
    
    font-family: var(--fonte-altenativo);
    font-size: 3vw;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{

    text-decoration: underline;
    color:wheat;

}
p{
  font-family: var(--fonte-texto);  
  font-size: 24px;
 
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em;
    padding-left: 30px;
 
}
section >p{
    padding-bottom: 1em;
}
strong{
    color: #F87B1F;
}
section.normal{
    background: white;
    color: black;
    font-weight:600;
background-image: url(../imagens/Captura\ de\ tela\ 2023-10-09\ 105311.png);
background-repeat: no-repeat;
background-size:cover;
background-position:center center;

}
section.imagem{
    background: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.501);
    background-size: cover;
    background-attachment: fixed;
 
   
  


}
section.imagem >p{
    background-image: linear-gradient(to right ,  rgba(0, 0, 0, 0.500) 30% , transparent  );
    width: 400px;
 display: inline-block;
 padding: 5px;
 text-shadow: 01px ,1px ,1px black;

      
}
section#img01{
    background-image: url(../imagens/sashime\ .jpeg);
    background-position: center center;
    background-size: contain;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 700px;
   
  
}
section#img02{
    background-image: url(../imagens/BackgroundEraser_20231009_013804459-01.jpeg);
    background-position: center center;
    background-size: contain;
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding-top: 50px;
    height: 600px;

}
section#img03{
    background-image: url(https://fastly.4sqi.net/img/general/width960/13320375_RVnCRLb2nxUsPc_8bZOxr995mdQpGdv8GvZK3rAmMcw.jpg);
    background-position: center center;
    background-size: contain;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 700px;

}
section#img04{
    background-image: url(../imagens/Captura\ de\ tela\ 2023-10-09\ 112808.png);
    background-position: center center;
    background-size: contain;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 600px;

}
footer{
    padding: 8px;
}